@import url('https://fonts.googleapis.com/css?family=Inconsolata|Rajdhani:700');

/* Typography */
h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 39px;
  text-align: center;
}

h4 {
  font-family: 'Inconsolata', monospace;
  word-wrap: break-word;
  text-decoration: none;
}

.repo-url {
  word-wrap: break-word;
}

.text-muted {
  font-size: 16px;
}

.glyphicon-eye-open {
  text-align: right;
}

/* Containers, Divs */
.container {
  min-width: 350px;
  max-width: 900px;
  margin: 5% auto;
}

.image-container {
  text-align: center;
}

.search-input-container {
  margin: 30px auto 0 auto;
}

.results-container {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 15px 15px 36px 15px;
  margin-top: 15px;
  cursor: pointer;
}

.results-container:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.results-count-container {
  text-align: center;
  margin-top: 50px;
}

/* Images & Elements */
img {
  width: 300px;
  margin: 0 auto 0 15px;
}

input{
  text-align: center;
}

.label {
  margin: 1.5px;
}

.pagination {
  display: none;
  text-align: center;
}

.pagination-controls:hover {
  cursor: text;
  background-color: #f6f6f6;
}

.owner:hover {
  cursor: pointer;
}

/* Loading spinner */
#loading-div {
  margin: 30px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}